body {
    background-color: #666;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    padding: 0;
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.modal-wrapper {
    width: 25%;
    float: left;
    min-width: 300px;
}

div.modal {
    margin: 20px;
    border-radius: 7px;
}

div.header {
    background-color: #333;
    border-radius: 7px 7px 0 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

div.body {
    background-color: #fff;
    border-radius: 0 0 7px 7px;
}

div.body table {
    border-collapse: collapse;
    width: 100%;
}

div.body tr {
    border-bottom: 1px solid #ddd;
}

div.body tr:nth-child(even) {
    background: #f0f0f0;
}

div.body table.nested tr {
    border-bottom: 0px;
}

div.body tr:last-child {
    border-bottom: 0;
}

div.body th {
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

div.body td {
    padding: 10px;
    vertical-align: top;
}

div.body th {
    font-size: 14px;
}

.shield {
    vertical-align: middle !important;
}

td.nopadding {
    padding: 0 !important;
}

td.size10 {
    width: 10%;
}

td.size20 {
    width: 20%;
}

td.size50 {
    width: 50%;
}

div.body div.section-heading {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
}

div.body td.failures {
    padding: 10px 0 10px 10px;
}

div.body div.failures {
    font-family: monospace;
    max-height: 100px;
    overflow: auto;
    width: 100%;
}

ul.menu {
    background-color: #333;
    border-radius: 7px 7px 0 0;
    padding: 10px;
    margin: 20px 20px 0 20px;
    list-style-type: none;
}

ul.menu a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

ul.menu li {
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

div.updated {
    color: #fff;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #888;
    padding: 5px;
    border-radius: 7px 0 0 0;
}

ul.sub-menu {
    background-color: #444;
    padding: 10px;
    border-radius: 0 0 7px 7px;
    margin: 0px 20px 20px 20px;
    list-style-type: none;
}

ul.sub-menu li {
    display: inline-block;
}

ul.sub-menu a {
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    line-height: 20px;
}

ul.body-menu {
    background-color: #444;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.body-menu li {
    display: inline-block;
    padding: 10px;
}

ul.body-menu a {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

td.success, td.warn, td.success a, td.warn a {
    color: #fff;
}

td.success {
    background-color: #44cc11;
}

td.warn {
    background-color: #e05d44;
}


/* old


div.menu {
    padding: 10px;
}

div.menu a {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

div.menu a:hover {
    background-color: #e2e2e2;
}

div.sub-menu {
    padding: 10px;
}

div.sub-menu a {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    line-height: 20px;
}

div.sub-menu a:hover {
    background-color: #e2e2e2;
}

div.module {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    float: left;
    padding: 10px;
    margin: 10px;
}

div.module table {
    border-collapse: collapse;
}

div.module tr {
    border-bottom: 1px solid #ddd;
}

div.module tr:last-child {
    border-bottom: 0;
}

div.module th {
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

div.module a {
    padding: 5px;
    display: block;
}

div.module a:hover {
    background-color: #eee;
}

td.success a, td.warn a {
    color: #fff;
}

td.success {
    background-color: #44cc11;
}

td.success a:hover {
    background-color: #32940d;
}

td.warn {
    background-color: #e05d44;
}

td.warn a:hover {
    background-color: #9c4231;
}

td.count {
    width: 25px;
}

td.count a {
    text-align: center;
}

td.shield {
    text-align: right;
}

td.shield a {
    padding: 0;
}


div.tests {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px;
}

div.tests th {
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

div.tests td {
    padding: 5px;
}

div.tests table {
    border-collapse: collapse;
}

div.tests tr {
    border-bottom: 1px solid #ddd;
}

div.tests tr:last-child {
    border-bottom: 0;
}

div.tests pre {
    background-color: #f0f0f0;
    overflow: auto;
    padding: 10px;
}

div.tests a:hover {
    background-color: #eee;
}

div.tests h1 {
    background-color: #f00;
    margin: 20px 10px 10px 10px;
    padding: 10px;
}

.nowrap {
    white-space:nowrap;
}

@media screen and (max-width: 800px) {
    div.module {
        float: none;
    }

    div.module table {
        width: 100%;
    }
}
 */