body {
    background-color: #666;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    padding: 0;
    margin: 0;
}

a {
    color: #333;
}

a:hover {
    text-decoration: underline;
}

div.content {

}

.clear {
    clear: both;
}

div.modal-float {
    max-width: 100%;
    float: left;
}

div.modal-float-margin {
    margin: 0 0 20px 20px;
}

div.modal {
    margin: 10px 0 0 10px;
}

div.header {
    background-color: #333;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

div.body {
    background-color: #fff;
}

div.body table {
    border-collapse: collapse;
}

div.body tr {
    border-bottom: 1px solid #ddd;
}

div.body td {
    border-left: 1px solid #ddd;
}

div.body tr:nth-child(even) {
    background: #f0f0f0;
}

div.body tr:nth-child(odd) {
    background: #fff;
}

div.body table.nested tr {
    border-bottom: 0px;
    background: none;
}

div.body tr:last-child {
    border-bottom: 0;
}

div.body th {
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

div.body td {
    padding: 10px;
    vertical-align: top;
}

.shield {
    vertical-align: middle !important;
}

.shield img {
    margin-right: 5px;
}

.center {
    text-align: center !important;
}

td.nopadding {
    padding: 0 !important;
}

td.count {
    width: 40px;
}

div.body div.section-heading {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
}

div.body td.failures {
    padding: 0;
}

div.body div.failures {
    font-family: monospace;
    padding: 10px;
    max-width: 700px;
    max-height: 100px;
    overflow: auto;
}

ul.menu {
    background-color: #333;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

ul.menu a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

ul.menu li {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

div.updated {
    color: #fff;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #888;
    padding: 5px;
}

ul.sub-menu {
    background-color: #444;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 0 0 20px 0;
    list-style-type: none;
}

ul.sub-menu li {
    display: inline-block;
}

ul.sub-menu a {
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

ul.body-menu {
    background-color: #444;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.body-menu li {
    display: inline-block;
    padding: 10px;
}

ul.body-menu a {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

td.success, td.warn, td.error, td.success a, td.warn a, td.error a {
    color: #fff;
}

td.success {
    background-color: #44cc11;
}

td.error {
    background-color: #e05d44;
}

td.warn {
    background-color: #e0af44;
}

