body {
    background-color: #666;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    padding: 0;
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.content {
    margin: 0 10px 10px 0;
}

div.modal-float {
    width: 25%;
    float: left;
}

div.modal-float-margin {
    margin: 10px 0 0 10px;
}

div.modal {
    margin: 10px 0 0 10px;
}

@media screen and (max-width: 1200px) {
    div.modal-float {
        float: none;
        width: 100%;
    }
}

div.header {
    background-color: #333;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

div.body {
    background-color: #fff;
}

div.body table {
    border-collapse: collapse;
    width: 100%;
}

div.body tr {
    border-bottom: 1px solid #ddd;
}

div.body tr:nth-child(even) {
    background: #f0f0f0;
}

div.body tr:nth-child(odd) {
    background: #fff;
}

div.body table.nested tr {
    border-bottom: 0px;
    background: none;
}

div.body tr:last-child {
    border-bottom: 0;
}

div.body th {
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

div.body td {
    padding: 10px;
    vertical-align: top;
}

.shield {
    vertical-align: middle !important;
}

td.nopadding {
    padding: 0 !important;
}

td.size5 {
    width: 5%;
}

td.size10 {
    width: 10%;
}

td.size20 {
    width: 20%;
}

td.size50 {
    width: 50%;
}

div.body div.section-heading {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
}

div.body td.failures {
    padding: 0;
}

div.body div.failures {
    font-family: monospace;
    max-height: 100px;
    overflow: auto;
    width: 100%;
    padding: 10px 0;
}

ul.menu {
    background-color: #333;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

ul.menu a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

ul.menu li {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

div.updated {
    color: #fff;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #888;
    padding: 5px;
}

ul.sub-menu {
    background-color: #444;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 0px;
    list-style-type: none;
}

ul.sub-menu li {
    display: inline-block;
}

ul.sub-menu a {
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

ul.body-menu {
    background-color: #444;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.body-menu li {
    display: inline-block;
    padding: 10px;
}

ul.body-menu a {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

td.success, td.warn, td.success a, td.warn a {
    color: #fff;
}

td.success {
    background-color: #44cc11;
}

td.warn {
    background-color: #e05d44;
}

