body {
    background-color: #eee;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    margin: 10px;
    padding: 0;
}

div.menu {
    font-size: 14px;
    padding: 10px;
}

table a {
    color: #333;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 5px 0;
}

table a:hover {
    background-color: #eee;
}

table {
    float: left;
}

table {
    background-color: #fff;
    border: 1px solid #888;
    border-collapse: collapse;
    margin: 10px;
}

tr {
    border-bottom: 1px solid #888;
}

tr:last-child {
    border-bottom: none;
}

th {
    font-size: 14px;
    padding: 5px;
    text-align: left;
}

td.title {
    padding-left: 5px;
    padding-right: 20px;
}

td.shield img {
    height: 23px;
    width: 100%;
    margin-bottom: -2px;
}

td.shield a {
    padding: 0;
}

td.count {
    width: 50px;
    text-align: center;
}

td:last-child {
}

table img {
    margin: 0;
    padding: 0;
}

td.success {
    background-color: #44cc11;
    color: #fff;
}

td.success a {
    color: #fff;
}

td.success a:hover {
    color: #fff;
    background-color: #32940d;
}

td.warn {
    background-color: #e05d44;
    color: #fff;
}

td.warn a {
    color: #fff;
}

td.warn a:hover {
    color: #fff;
    background-color: #9c4231;
}
